# Functions
- function is a group of related statements that performs a particular task
- types of functions
    - predefined or inbuilt functions
    - userdefined function
- Syntax for functions:
    def functionname(parameters):
        statements()
     - def keyword means start the function header
     - function(based on user define it)
     - parameters(arguments) through which we pass values to function(option)
     - : is end of the function

In [1]:
# Predefined or in bulit functions 

# 1. abs() indicated fot absolute values to convert negative value to positive 

a=-10
abs(a)

10

In [2]:
a=15
abs(a)

15

In [3]:
# 2. bin() indicated for binary version of specified integer

bin(10)

'0b1010'

In [4]:
bin(16)

'0b10000'

In [5]:
#chr() indicates character that represents the specific unicode 
chr(98)

'b'

In [7]:
chr(97)

'a'

In [8]:
chr(101)

'e'

In [9]:
#ord() # indicates char to ascii values 

ord('8')

56

In [10]:
ord('A')

65

In [11]:
chr(65)

'A'

In [15]:
# compile() indicates specific source on object ready to be exceute 
# in compile 3 repesentation are there 1. aval, 2. single, 3. exec
a=compile('print(123)','JNTUACEA','single')
exec(a)

123

In [17]:
# complex() indicates to complex number by specified real and imaginary numbers

complex(3,7)

(3+7j)

In [18]:
str
#dir() defines a list of specified objects 

dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
str(10)

'10'

In [20]:
int('100')

100

In [21]:
float(10)

10.0

In [23]:
a='jntuacea-ece'
len(a) # reads length of characters in string

12

In [24]:
a=['a','12','cd']
len(a)

3

In [25]:
a=[1,2,45,56,101]
max(a)

101

In [26]:
min(a)

1

In [27]:
# boolean functions and Data types 

#list()
#dict()
#set()
#tuple()

In [29]:
# List()

list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [31]:
# dictonary 

dict(name='JNTUACEA',id=12,address='Anantapur')

{'name': 'JNTUACEA', 'id': 12, 'address': 'Anantapur'}

In [33]:
tuple((1,2,3,45))

(1, 2, 3, 45)

In [34]:
set((1,2,3,4,5,))

{1, 2, 3, 4, 5}

In [35]:
# functions syntax
''' def function_name(parameters(arguments)):
     statements(s)
     
    '''

' def function_name(parameters(arguments)):\n     statements(s)\n     \n    '

In [36]:
# to print sum of two numbers 

def addsum():
    a=10
    b=20
    print(a+b)
addsum()

30

In [37]:
# to print name with use of parameters(arguments)
def username(name):
    print('My name is:' +name )
username(name =input('enter your name'))

enter your nameJNTUACEA
My name is:JNTUACEA

In [38]:
# 3 TYPES OF PARAMETERS OR ARGUMENT FUNCTIONS 
'''
1. DEFAULT ARGUMENT
2. KEYWORD ARGUMENT
3. VARIABLELENGTH ARGUMENT '''

'\n1. DEFAULT ARGUMENT\n2. KEYWORD ARGUMENT\n3. VARIABLELENGTH ARGUMENT '

In [42]:
#DEFAULT ARGUMENT

def defargment(name,contact, age):
    print('i am ',name )
    print('contact is:', contact)
    print('age is:',age)

In [43]:
defargment('JNTUACEA',1234564,75)

i am  JNTUACEA
contact is: 1234564
age is: 75

In [44]:
#2. KEYWORD ARGUMENT

def key_argument(name, email,phone,address):
    print('my name is:', name )
    print('my email is:', email )
    print('my phone is:', phone )
    print('my address is:', address )

In [45]:
key_argument(email='patnamrajeshrai@gmail.com',phone=9989786119,name='RAJESH RAI', address= 'JNTUA')

my name is: RAJESH RAI
my email is: patnamrajeshrai@gmail.com
my phone is: 9989786119
my address is: JNTUA

In [47]:
# variablelength arguments

def user_name(*name):
    for i in name :
        print('my name is:',i)
user_name('Rajesh',123,'JNTUA','JNTUACEA')

my name is: Rajesh
my name is: 123
my name is: JNTUA
my name is: JNTUACEA

Strings

In [48]:
# 'jntuacea', "jntuacea",'123',"123@#46"

In [49]:
a='anantapur'
b='atp515001'
c='atp515001@anantapur#'
print(type(c))

<class 'str'>

In [50]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
# single line string 

a='asskakjbskabfkjsbaksbfyebanouwnonfiuaebbaa'
print(a)

asskakjbskabfkjsbaksbfyebanouwnonfiuaebbaa

In [52]:
# multiple line strings 

b='''
anantapur 
gooty
kadapa 
'''
print(b)

anantapur
gooty
kadapa

In [57]:
# accessing characters in string 
a='anantapur'

# 2 types of accessing index
#1. forward index , 2. backward index

# a n a n t a p u r 
# 0 1 2 3 4 5 6 7 8 ( forward index)

# a n a n t a p u r 
# -9 -8 -7 -6 -5 -4 -3 -2 -1 (backward index)


a[4]

't'

In [60]:
# slicing 

b=' anantapurjntuacea absasshaodsa'
b[7:22]

'purjntuacea abs'

In [61]:
b[:14]

' anantapurjntu'

In [63]:
b[-5:-3]

'ao'

In [64]:
a= 'anantapur'
a.upper()

'ANANTAPUR'

In [65]:
a='JNAKABBER'

In [66]:
a.lower()

'jnakabber'

In [1]:
a='Jntuacea Anantapur'
a.title()

'Jntuacea Anantapur'

In [2]:
a='JNTUACEA'
b='Anantapur'
a+' '+b

'JNTUACEA Anantapur'

In [3]:
a='jntuacea'
b='12'
a+b

'jntuacea12'

In [4]:
# Split()
a= 'anantapur@ap'
a.split('@')

['anantapur', 'ap']

In [8]:
a='I am Rajesh,from Dept of ECE'
a.split(',')

['I am Rajesh', 'from Dept of ECE']

In [9]:
a='1,2,3,4,5,6,7'
a.split()

['1,2,3,4,5,6,7']

In [13]:
# Format () represents specified values in string 
a= 'i am rajesh,from which id {}'
id= 120
a.format(id)

'i am rajesh,from which id 120'

In [14]:
# isalpha() represents True is all characters in a string are in alphabets 
a= 'jntuaceaanantapur'
a.isalpha()

True

In [15]:
# isalpha() represents True is all characters in a string are in alphabets 
a= 'jntuace12345'
a.isalpha()

False

In [17]:
# count()
a='jntuacea anantapur'
a.count('a')

5

In [18]:
from matplotlib import pyplot as plt
import numpy as np

OSError: [WinError 193] %1 is not a valid Win32 application